header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.headerItem {
  display: flex;
  align-items: center;
}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.connectButton{
  background-color: #243056; 
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.logo {
  width: 50px;
  height: 50px;
}

.polygon {
  padding-right: 10px;
  width: 20px;
  height: 20px;
}
